    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Tienda</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="./">Inicio</a></li>
                    </ul>
                    
                    <form *ngIf="usuarioId || !usuarioId" class="d-flex">
                        <button class="btn btn-outline-dark" type="button" (click)="goHome()">
                            <i class="bi-cart-fill me-1"></i>
                            Volver
                        </button>
                        <button class="btn btn-outline-dark" type="button" (click)="goPrint()">
                            <i class="bi-cart-fill me-1"></i>
                            Imprimir ticket
                            <span class="badge bg-dark text-white ms-1 rounded-pill">{{ carro_items }}</span>
                            ${{ carro_total | number: '1.0-2' }}
                        </button>
                    </form>
                </div>
            </div>
        </nav>

        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Nuestra tienda para ti!</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Selecciona todos los productos que necesites.</p>
                </div>
            </div>
        </header>

        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


                    <div *ngFor="let item of carro | keyvalue" class="col mb-5">
                        <div class="card h-100">
                            <img class="card-img-top" [src]="productos[item.value['productoId']]['imagenUri']" alt="..." />

                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">{{ productos[item.value["productoId"]]["nombre"] }}</h5>
                                    <i>{{ productos[item.value["productoId"]]["descripcion"] }}</i>
                                    ${{ productos[item.value["productoId"]]["valorVenta"] | number: '1.0-2' }}
                                </div>
                            </div>

                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <button class="btn btn-outline-dark mt-auto" (click)="quitarCarro(item.value['productoId'])" >Quitar del carro</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; 2025, Duoc/Grupo 11</p></div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

        <script src="js/scripts.js"></script>

    </body>

    <script>
        $(document).ready(
            function () {
                alert("ready");
            }
        );
    </script>

    
    <div class="container" id="ticketContenido" style="margin-left: 30px; height: 0px;">
        <h3>Cobro</h3>
        <br>
        <small>(El correlativo se generar&aacute; al momento de emitir la impresi&oacute;n)</small>
        <H1>Boleta #{{ ticket_numero }}</H1>
        <br>
        <H1>Cliente: {{ usuario_alias }}</H1>
        <hr>    
        <div *ngFor="let item of carro | keyvalue" class="col mb-5">

            <div class="text-center">
                <h5 class="fw-bolder">{{ productos[item.value["productoId"]]["nombre"] }}</h5>
                <i>{{ productos[item.value["productoId"]]["descripcion"] }}</i>
                ${{ productos[item.value["productoId"]]["valorVenta"] | number: '1.0-2' }}
            </div>

        </div>
        <h3>Total ${{carro_total | number: '1.0-2'}}</h3>
        <hr>
    </div>
    
